{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block body%}
<h1>Welcome to your profile </h1>
<h1>Hello {{user}}</h1>
{% if messages %}
{% for m in messages %}
<!-- conditional css -->
<p><small class="bg-success p-3 text-white"> {{m}} </small></p>
<!-- conditional css -->
{% endfor %}
{% endif %}
<br>
<p> <a class="btn btn-info" href="{% url 'passchange'%}">Change Your Password</a></p>
<p> <a class="btn btn-warning" href="{% url 'passchange2'%}">Change Your Password Without oldPass</a></p>
<form method="post" style="width: 50%; margin:auto" novalidate>
    <!-- <h1>Login Page</h1> -->
    {% csrf_token %}
    {%if form.non_field_errors%}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {%endfor%}
    {%endif%}
    <!-- {{form|crispy}} -->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-warning">Change Data</button>
</form>
{%endblock%}