{% extends "base.html" %} 

{%block content %}
<h2 style="padding: 5; text-align: center;">Showing all register book </h2>

  {%if data%}

  <table  style="padding: 5%; width:80%;margin:auto"  class="table table-hover table-bordered  border-black" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Book_name</th>
      <th scope="col">Author name</th>
      <th scope="col">Category</th>
      <th scope="col">First Publicaition</th>
      <th scope="col">Last Publicaition</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
   {%for i in  data%}
    <tr>
     <td>{{i.id}}</td>
     <td>{{i.book_name}}</td>
     <td>{{i.author}}</td>
     <td>{{i.catgory}}</td>
     <td>{{i.first_pub}}</td>
     <td>{{i.last_pub}}</td>
     <td><a href="{%url 'editbook' id=i.id %}" type="button" class="btn btn-warning btn-sm">Edit</a>
    <a href="{%url 'deletebook' id=i.id %}" type="button" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {%endfor%}
 
</table>
  {% else %}
  <h2  style="padding: 5; text-align: center;">No data available </h2>
  {% endif %}
{%endblock%}